
\.htaccess

\.idea/codex-sandy\.iml

\.idea/

node_modules/\.bin/

node_modules/ansi-colors/

node_modules/ansi-gray/

node_modules/ansi-regex/

node_modules/ansi-wrap/

node_modules/anymatch/

node_modules/append-buffer/

node_modules/archy/

node_modules/

wp-admin/

wp-includes/

wp-activate\.php

wp-blog-header\.php

wp-comments-post\.php

wp-config-sample\.php

wp-config\.php

wp-cron\.php

wp-links-opml\.php

wp-load\.php

wp-login\.php

wp-mail\.php

wp-settings\.php

wp-signup\.php

wp-trackback\.php

package-lock\.json

xmlrpc\.php
