/******************************** */
/******    Animation CSS  ******* */
/******************************** */
@keyframes rech_appar {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes rech_dispa {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-50%); } }
/******************************** */
/***********  Divers   ********** */
/******************************** */
.center {
  display: block;
  margin: 0 auto; }

.apparaitre {
  display: block;
  animation-name: rech_appar;
  animation-duration: 1s; }

.disparaitre {
  display: none; }

.couleurLien {
  color: #adbf54; }

* {
  margin: 0;
  padding: 0;
  color: #e1e8e9;
  font-family: Cardo, Merriweather, PT serif;
  font-size: 17px;
  line-height: 140%; }

a {
  text-decoration: none; }

body {
  background: #46565c url("img/test4.png");
  margin: 0 auto; }
  body h2 {
    font-size: 32px;
    color: #adbf54; }
  body h3 {
    font-size: 1.2em;
    color: #adbf54; }
  body p {
    margin-bottom: 20px; }

/******************************** */
/*******     Images   *********** */
/******************************** */
.shadow {
  border: 4px solid #4c5b65;
  -moz-box-shadow: 0 3px 7px 4px #292A32;
  -webkit-box-shadow: 0 3px 7px 4px #292A32;
  box-shadow: 0 3px 7px 4px #292A32; }

/******************************** */
/*******     header   *********** */
/******************************** */
header {
  background-image: url("img/test5.png"); }

.entete {
  display: flex;
  justify-content: space-around; }

#entete-titre h1 {
  margin: 15px 0 25px 0;
  font-size: 50px; }

header nav {
  height: 65px;
  width: 100%;
  background-color: #3b6f84;
  background-image: url(img/test3.png);
  display: flex;
  justify-content: center; }
  header nav ul {
    display: flex;
    margin: 0; }
    header nav ul li {
      padding: 20px 20px;
      margin-right: 70px;
      text-transform: uppercase;
      font-weight: bold;
      list-style-type: none; }
      header nav ul li:hover {
        background-color: #3d8297; }
      header nav ul li:active {
        background-color: #00a0d2; }
    header nav ul li:last-child {
      margin-top: -7px; }
    header nav ul li:last-child:hover {
      margin-top: 0;
      padding-top: 13px; }
    header nav ul li:last-child:active {
      margin-top: 0;
      padding-top: 13px; }

#bloc-recherche {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  margin: 0 auto; }

#recherche-haut {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0 0 7px 7px;
  background-color: #3b6f84;
  text-align: center; }
  #recherche-haut input[type=text] {
    color: #292A32; }
  #recherche-haut input[type=submit] {
    color: #46565c; }

/******************************** */
/*******   Front-page *********** */
/******************************** */
#front-page {
  width: 80%;
  margin: 80px auto;
  display: flex; }

#front-image {
  margin-right: 70px; }

#text-presentation {
  height: 220px;
  margin-top: 50px;
  padding: 25px;
  background-color: #4c5b65;
  border-radius: 5px 20px 5px;
  background: #3b6f84, #536562; }

/******************************** */
/*******   index.php *********** */
/******************************** */
#container {
  position: relative;
  width: 65%;
  margin: 0 auto;
  display: flex; }

#section-principale {
  width: 80%;
  min-width: 600px;
  min-height: 470px;
  background-color: #59606E;
  border-left: 4px solid #3b6f84;
  border-right: 4px solid #3b6f84;
  padding: 30px;
  background-color: #59606E;
  border-radius: 10px;
  padding: 50px; }
  #section-principale h2 {
    display: block;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top: 40px; }

.data-articles p, .data-articles a {
  font-size: 12px;
  font-style: italic; }

.separation {
  margin: 20px auto;
  height: 30px;
  width: 135px;
  display: flex;
  flex-flow: row wrap; }

.separation span {
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 15px; }

.separation span:nth-child(1) {
  background-color: #bb4646; }

.separation span:nth-child(2) {
  background-color: orange; }

.separation span:nth-child(3) {
  background-color: #cfcf2a; }

.separation span:nth-child(4) {
  background-color: #75bc3c; }

.separation span:nth-child(5) {
  background-color: #3698e0; }

.separation span:nth-child(6) {
  background-color: #7f3f7a; }

/******************************** */
/*******   category linux  ****** */
/******************************** */
#section-principale .description {
  margin-bottom: 50px;
  padding: 20px 40px;
  background-color: #46565c;
  border-radius: 10px; }
  #section-principale .description h2 {
    text-align: center;
    margin-top: 10px; }
  #section-principale .description p {
    font-size: 15px; }

.articles-linux {
  margin-top: 50px;
  background-color: #4c5b65;
  border-radius: 10px;
  padding: 50px; }
  .articles-linux h2 {
    display: block;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top: 40px; }

.articles-devweb {
  background-color: #3b6f84;
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px; }
  .articles-devweb h2 {
    display: block;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top: 40px; }

/******************************** */
/***********   sidebar ********** */
/******************************** */
#sidebar {
  width: 30%;
  min-width: 230px;
  padding: 25px;
  background-color: #3D4346;
  background-image: url(img/test5.png); }

#sidebar-pub {
  height: 100px;
  width: 200px;
  margin: 0 auto; }
  #sidebar-pub h3 {
    text-align: right;
    font-size: small; }

#pub1A {
  width: 150px;
  height: 100px; }

#categorie {
  background-color: #46565c;
  padding: 20px;
  border-radius: 5px 20px 5px;
  background: #3b6f84, #536562; }
  #categorie h3 {
    margin-bottom: 10px; }

li.categories {
  font-size: 1.1em;
  list-style: none;
  padding-left: 20px; }
  li.categories .cat-item {
    list-style-type: square;
    color: #75bc3c;
    padding-top: 20px; }
    li.categories .cat-item ul li {
      list-style-type: square;
      color: orange;
      margin-left: 20px; }

/******************************** */
/***********   404   ************ */
/******************************** */
/******************************** */
/*********   recherche    ******* */
/******************************** */
#recherche h2, #recherche h3, #recherche .rechertext {
  text-align: center;
  margin-bottom: 50px; }
#recherche img {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 50px; }

#index-recherche {
  margin-top: 100px; }

/******************************** */
/***********   Footer *********** */
/******************************** */
footer {
  height: 70px;
  padding: 50px;
  background-image: url(img/test3.png); }
  footer p {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
